{% extends "index.html" %}
{% block content %}

<ol class="breadcrumb">
    <li> <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a> </li>
    <li> <a href="{{ url_for('displayCategory', category_id=category.id) }}">Categories</a> </li>
    <li> <a href="{{ url_for('displayCategory', category_id=category.id) }}">{{ category.name }}</a> </li>
    <li class="active">{{ item.name }} </li>
</ol>
    <div class="container-fluid">
<h4>Name : </h4>
        <p>{{ item.name }}</p>
    <h4>Description : </h4>
        <p>{{ item.description }}</p>
    <div class="button-styles">
    {% if 'username' in session and session['user_id'] == item.user_id %}
            <button><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="{{ url_for('edit', item_id=item.id) }}"> Edit</a></button>
            <button><i class="fa fa-trash" aria-hidden="true"></i><a href="{{ url_for('delete', item_id=item.id) }}"> Delete</a></button>
    {% endif %}
    </div>
    </div>


{% endblock %}
